.ion-page {
  align-items: center;
}

ion-content {
  --padding-start: 12px;
  --padding-end: 12px;
  /* --padding-top: 12px; */
  --background: #eff3fd;
  max-width: 720px;
}

/* set padding */
ion-item {
  padding: 0 10px;
  margin-bottom: 8px;
  border-radius: 10px;
}
/* Set the width to the full container and center the content */
ion-select {
  width: 100%;
  justify-content: flex-end;
}

/* Set the flex in order to size the text width to its content */
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
  color: #20a08a;
  opacity: 1;
}

/*
 * Set the font of the first letter of the placeholder
 * Shadow parts work with pseudo-elements, too!
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
 */
ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

/* Set the text color */
ion-select::part(text) {
  color: #545ca7;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: #F93F76;
  /* color: #971e49; */
  opacity: 1;
}

.list-md {
  background: transparent;
  padding-top: 0;
}

ion-list-header {
  margin-bottom: 12px;
  padding: 0 0 0 4px;
}

.action_bar {
  background: #eff3fd;
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.medicine_select {
  z-index: 0;
}

.custom_select{
  border-radius: 10px !important;
  line-height: 36px;
  margin-bottom: 8px;
}

.custom_select__control{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom_select__menu-list {
  z-index: 2;
}

.custom_select__dropdown-indicator {
  color: #F93F76 !important;
}